@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: auto;
}

.HeroBanner{
  background: url(./assets/blob-haikei.svg);

  background-size: cover;
  background-repeat: no-repeat;
}

._10b4{
  height: 100%;
}

._2p3a{
  width: 600px;
}
._2lqg{
  width: 100%;
}

.modificar{
  background-color: rgb(206 113 224/var(--tw-bg-opacity))!important;
}

.shadow{
  text-shadow: 2px 1px 2px black;
}